@import "./reset.scss";

body {
  background-color: #dce6d1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.phone {
  background-color: black;
  border-radius: 50px;
  height: 58vh;
  width: 420px;
  padding: 50px 20px;
  box-sizing: border-box;
}
.header {
  overflow-x: scroll;
  .header__list {
    display: flex;
    color: white;
    gap: 10px;
    width: max-content;
    .herder__list-item {
      border: 1px solid rgba($color: #fff, $alpha: 0.5);
      padding: 10px;
      border-radius: 21px;
      &:nth-child(1) {
        color: black;
        background-color: white;
      }
    }
  }
}
.main {
  margin-top: 20px;
  background-color: black;

  .cards {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;

    .cards__item {
      border-radius: 25px;
      padding: 18px 15px;
      background-color: white;
      display: flex;
      gap: 10px;
      flex-direction: column;
      justify-content: space-between;
      .item-title {
        font-size: 30px;
      }
      .card__footer {
        font-size: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        span {
          border: 1px solid black;
          border-radius: 20px;
          padding: 10px 12px;
        }
        .item-price {
          background-color: #e9affc;
        }
        .item-lenght {
          background-color: white;
        }
      }
      &:nth-child(1) {
        background-color: #272c30;
        color: white;
        border: 1px solid white;
        span {
          color: black;
        }
      }
      &:nth-child(2) {
        background-color: #f6f2ef;
        .item-price {
          background-color: #ffdd2d;
        }
      }
      &:nth-child(3) {
        background-color: #f8fcb2;
      }
      &:nth-child(4) {
        background-color: #b09df6;
        .item-price {
          background-color: #ffdd2d;
        }
      }
      &:nth-child(5) {
        background-color: #fed2d2;
      }
      &:nth-child(6) {
        background-color: #d3ffe0;
        .item-price {
          background-color: #ffdd2d;
        }
      }

      &:nth-child(3n) {
        grid-column: span 2;
      }
    }
  }
}
