@import "./reset.scss";

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #d7dbdb;
}
.phone {
  border-radius: 10px;
  box-shadow: 10px 20px 50px grey;
  background-color: #d7dbdb;
  width: 320px;
  height: 63vh;
}
.header {
  margin-top: 20px;
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  .header__title {
    font-weight: bold;
  }
}
.totla {
  background-color: black;
  padding: 25px;
  color: #d7dbdb;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 5px;
  .totla__price {
    font-size: 25px;
    font-weight: bold;
  }
  .total__subtitle {
    font-size: 13px;
  }
}

.main {
  display: flex;
  flex-direction: column;
  gap: 15px;
  .main-item {
    border-top: 5px solid black;
    position: relative;
    display: grid;
    grid-template: 3fr 1fr / 1fr 1fr;
    .main__topLeft {
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 20px 13px;
      .topLeft__title {
        font-size: 30px;
        margin-bottom: 5px;
        font-weight: 900;
      }
      .topLeft__subtitle {
        font-size: 13px;
      }
    }
    .main__topRight {
      grid-column: 2 / -1;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      padding: 20px 13px;
      align-items: flex-end;
      .topRight_title {
        font-size: 23px;
        font-weight: bold;
        margin-bottom: 5px;
      }
      .topRight_subtitle {
        font-size: 13px;
      }
    }
    .main__bottom {
      grid-column: 1 / -1;
      display: flex;
      border-top: 5px solid black;
      border-bottom: 5px solid black;
      justify-content: flex-start;
      font-size: 13px;
      .bottomLeft {
        width: 25%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .bottomRight {
        width: 25%;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        border-left: 2.5px solid black;
      }
    }
  }
  .item__photo {
    position: absolute;
    width: 14%;
    border: 5px solid black;
    right: 35.5%;
    bottom: 45.7%;
  }

  .item__photo2 {
    position: absolute;
    width: 14%;
    border: 5px solid black;
    right: 35.5%;
    bottom: 20.8%;
  }
}
